<?xml version="1.0" encoding="utf-8" ?>
<configuration debug="false" scan="true" scanPeriod="1 seconds">
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <springProfile name="pro,test">
        <logger name="org.springframework" level="WARN"/>
        <logger name="org.apache" level="WARN"/>
        <logger name="com.netflix" level="WARN"/>
    </springProfile>
    <springProfile name="test,dev,devt">
        <logger name="com.jemmy.api" level="DEBUG"/>
        <logger name="com.netflix.ribbon" level="DEBUG"/>
    </springProfile>
    <springProfile name="dev,devt">
        <logger name="org.springframework.security" level="DEBUG"/>
    </springProfile>
</configuration>